/workshops/unit1/HellowWorld01/HellowWorld01/nbproject/private/
/workshops/unit1/HellowWorld01/HellowWorld01/build/
/workshops/unit1/HellowWorld01/HellowWorld01/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/build/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/nbproject/private/
/assignments/UNIT1/HW02/HW02/nbproject/private/
/assignments/UNIT1/HW02/HW02/build/
/assignments/UNIT1/HW02/HW02/dist/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/dist/
/workshops/unit1/WS065Iterations/WS065Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/workshops/unit1/WS05Iterations/WS05Iterations/dist/
/workshops/unit1/WS02FP02_controlStatement/FP02_controlStatement/nbproject/private/
/workshops/unit1/WS02FP02_controlStatement/FP02_controlStatement/build/
/assignments/UNIT1/HW03/HW03Iterations/nbproject/private/
/assignments/UNIT1/HW03/HW03Iterations/build/
/assignments/UNIT1/HW03/HW03Iterations/dist/
/workshops/unit1/W0S7Menus/WS06Menus/nbproject/private/
/workshops/unit1/W0S7Menus/WS06Menus/build/
/workshops/unit1/W0S7Menus/WS06Menus/dist/
/assignments/UNIT1/HW04/HW04/nbproject/private/
/assignments/UNIT1/HW04/HW04/build/
/assignments/UNIT1/HW04/HW04/dist/
/assignments/UNIT1/HW04/LemaAlissonQ11.java/nbproject/private/
/Exams/UNIT1/ExamUnit1.LemaAlissonQ11.java/nbproject/private/
/Exams/UNIT1/ExamUnit1.LemaAlissonQ11.java/build/
/workshops/unit2/WS08debugging/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/WS08debugging/build/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/nbproject/private/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/build/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/dist/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/nbproject/private/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/build/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/dist/
/workshops/unit2/WS10Fuctions/WS10Fuctions/nbproject/private/
/workshops/unit2/WS10Fuctions/WS10Fuctions/build/
/assignments/UNIT2/HW10-Functions/HW10-Functions/nbproject/private/
/assignments/UNIT2/HW10-Functions/HW10-Functions/build/
/assignments/UNIT2/HW10-Functions/HW10-Functions/dist/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/nbproject/private/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/build/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/dist/
/workshops/unit2/WS11FuctionandRecursion/WS11Refactory/WS11Refactory/nbproject/private/
