/workshops/unit1/HellowWorld01/HellowWorld01/nbproject/private/
/workshops/unit1/HellowWorld01/HellowWorld01/build/
/workshops/unit1/HellowWorld01/HellowWorld01/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/build/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/nbproject/private/
