/workshops/unit1/HellowWorld01/HellowWorld01/nbproject/private/
/workshops/unit1/HellowWorld01/HellowWorld01/build/
/workshops/unit1/HellowWorld01/HellowWorld01/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/build/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/dist/
/workshops/unit1/Ws01 helloworld/HellowWorld.java/nbproject/private/
/assignments/UNIT1/HW02/HW02/nbproject/private/
/assignments/UNIT1/HW02/HW02/build/
/assignments/UNIT1/HW02/HW02/dist/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/WS04 LogicalOperators/dist/
/workshops/unit1/WS065Iterations/WS065Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/workshops/unit1/WS05Iterations/WS05Iterations/dist/
/workshops/unit1/WS02FP02_controlStatement/FP02_controlStatement/nbproject/private/
/workshops/unit1/WS02FP02_controlStatement/FP02_controlStatement/build/
/assignments/UNIT1/HW03/HW03Iterations/nbproject/private/
/assignments/UNIT1/HW03/HW03Iterations/build/
/assignments/UNIT1/HW03/HW03Iterations/dist/
/workshops/unit1/W0S7Menus/WS06Menus/nbproject/private/
/workshops/unit1/W0S7Menus/WS06Menus/build/
/workshops/unit1/W0S7Menus/WS06Menus/dist/
/assignments/UNIT1/HW04/HW04/nbproject/private/
/assignments/UNIT1/HW04/HW04/build/
/assignments/UNIT1/HW04/HW04/dist/
/assignments/UNIT1/HW04/LemaAlissonQ11.java/nbproject/private/
/Exams/UNIT1/ExamUnit1.LemaAlissonQ11.java/nbproject/private/
/Exams/UNIT1/ExamUnit1.LemaAlissonQ11.java/build/
/workshops/unit2/WS08debugging/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/WS08debugging/build/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/nbproject/private/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/build/
/assignments/UNIT2/HW08-FactorialNumber/HW08-FactorialNumber/dist/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/nbproject/private/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/build/
/assignments/UNIT2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/dist/
/workshops/unit2/WS10Fuctions/WS10Fuctions/nbproject/private/
/workshops/unit2/WS10Fuctions/WS10Fuctions/build/
/assignments/UNIT2/HW10-Functions/HW10-Functions/nbproject/private/
/assignments/UNIT2/HW10-Functions/HW10-Functions/build/
/assignments/UNIT2/HW10-Functions/HW10-Functions/dist/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/nbproject/private/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/build/
/workshops/unit2/WS11FuctionandRecursion/WS11FuctionandRecursion/dist/
/workshops/unit2/WS11FuctionandRecursion/WS11Refactory/WS11Refactory/nbproject/private/
/assignments/UNIT2/HW11Recursion/HW11_Recursion_Example/nbproject/private/
/assignments/UNIT2/HW11Recursion/HW11_Recursion/nbproject/private/
/assignments/UNIT2/HW11Recursion/HW11_Recursion_Example/build/
/assignments/UNIT2/HW11Recursion/HW11_Recursion_Example/dist/
/assignments/UNIT2/HW11Recursion/HW11_Recursion/build/
/assignments/UNIT2/HW11Recursion/HW11_Recursion/dist/
/workshops/unit2/WS12Libraries/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/WS12Libraries/build/
/workshops/unit2/WS12Libraries/WS12Libraries/dist/
/assignments/UNIT2/HW12-Taxes/HW12-Taxes/nbproject/private/
/assignments/UNIT2/HW12-Taxes/HW12-Taxes/build/
/assignments/UNIT2/HW12-Taxes/HW12-Taxes/dist/
/workshops/unit2/WS13-Task/GeometricFigures/GeometricFigures/nbproject/private/
/workshops/unit2/WS13-Task/GeometricFigures/GeometricFigures/build/
/workshops/unit2/WS13-Task/PhysicsFormula/PhysicsFormula/nbproject/private/
/workshops/unit2/WS13-Task/PhysicsFormula/PhysicsFormula/build/
/workshops/unit2/WS13-Task/GeometricFigures/GeometricFigures/dist/
/workshops/unit2/WS14-FarmSimulator/WS14-FarmSimulator/nbproject/private/
/workshops/unit2/WS14-FarmSimulator/WS14-FarmSimulator/build/
/workshops/unit2/WS14-FarmSimulator/WS14-FarmSimulator/dist/
/assignments/UNIT2/HW14-Arrays/HW14-Arrays/nbproject/private/
/assignments/UNIT2/HW14-Arrays/HW14-Arrays/build/
/assignments/UNIT2/HW14-Arrays/HW14-Arrays/dist/
/Quizzes/ArraysQuizz/nbproject/private/
/Quizzes/ArraysQuizz/build/
/Quizzes/ArraysQuizz/dist/
/workshops/unit2/WS15-SolutionQuiz/ WS15-SolutionQuiz/nbproject/private/
/Quizzes/Q01_SolutionQuiz/Q01_SolutionQuiz/nbproject/private/
/workshops/unit2/WS15-MatrixAddition/WS15-MatrixAddition/nbproject/private/
/Quizzes/Q01_SolutionQuiz/Q01_SolutionQuiz/build/
/Quizzes/Q01_SolutionQuiz/Q01_SolutionQuiz/dist/
/workshops/unit2/WS15-MatrixAddition/WS15-MatrixAddition/build/
/workshops/unit2/WS15-MatrixAddition/WS15-MatrixAddition/dist/
/workshops/unit2/WS16-Q01Quiz/nbproject/private/
/workshops/unit2/WS16-Q01Quiz/build/
/assignments/UNIT2/HW15-MatrixOperation/HW15-MatrixOperation/nbproject/private/
/assignments/UNIT2/HW15-MatrixOperation/HW15-MatrixOperation/build/
/assignments/UNIT2/HW15-MatrixOperation/HW15-MatrixOperation/dist/
/workshops/unit2/WS17-MatrixTranspose/WS17-MatrixTranspose/nbproject/private/
/workshops/unit2/WS17-MatrixTranspose/WS17-MatrixTranspose/build/
/workshops/unit2/WS17-MatrixTranspose/WS17-MatrixTranspose/dist/
/assignments/UNIT2/HW16-MatrixFuction/HW16-MatrixFuction/nbproject/private/
/assignments/UNIT2/HW16-MatrixFuction/HW16-MatrixFuction/build/
/assignments/UNIT2/HW16-MatrixFuction/HW16-MatrixFuction/dist/
/Lema.AQ11.java/Lema.AQ11.java/nbproject/private/
/Lema.AQ11.java/Lema.AQ11.java/build/
/Lema.AQ11.java/Lema.AQ11.java/dist/
/workshops/unit3/WS19-Arrayinspection/LEMAAULIOQ11Java/nbproject/private/
/workshops/unit3/WS19-Arrayinspection/LEMAAULIOQ11Java/build/
/workshops/unit3/WS19-Arrayinspection/LEMAAULIOQ11Java/dist/
/workshops/unit2/WS11FuctionandRecursion/WS11Refactory/WS11Refactory/build/
/workshops/unit2/WS10Fuctions/WS10Fuctions/dist/
/workshops/unit3/WS-21Funciones/nbproject/private/
/workshops/unit3/WS-21Funciones/build/
/workshops/unit3/WS-21Funciones/dist/
/workshops/unit3/WS22-Modularity/ModularCalculator/nbproject/private/
/workshops/unit3/WS22-Modularity/ModularCalculator/build/
/workshops/unit3/WS22-Modularity/ModularCalculator/dist/
/workshops/unit3/WS23-Libraries/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23-Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23-Libraries/TaxLibrary/build/
/workshops/unit3/WS23-Libraries/TaxLibrary/dist/
/workshops/unit3/WS23-Libraries/TaxDeclaration/build/
/assignments/UNIT3/HW17-MatrizLibraries/nbproject/private/
/assignments/UNIT3/HW17-MatrizLibraries/MatrixLibrary/nbproject/private/
/assignments/UNIT3/HW17-MatrizLibraries/build/
/assignments/UNIT3/HW17-MatrizLibraries/dist/
/assignments/UNIT3/HW17-MatrixLibraries/nbproject/private/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibrary/nbproject/private/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibrary/build/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibrary/dist/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibraries/nbproject/private/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibraries/build/
/assignments/UNIT3/HW17-MatrixLibraries/MatrixLibraries/dist/
/assignments/UNIT3/HW17-MatrixLibraries/build/
/assignments/UNIT3/HW17-MatrixLibraries/dist/
/workshops/unit3/WS24-SortinAlgoritm/Sorting/nbproject/private/
/workshops/unit3/WS24-SortinAlgoritm/Sorting/build/
/workshops/unit3/WS24-SortinAlgoritm/Sorting/dist/
/assignments/UNIT3/HW18-Searching/nbproject/private/
/assignments/UNIT3/HW18-Searching/build/
